<!DOCTYPE html>
<html>
    <head>
        <title>Waiting For Approval</title>
        <link rel="stylesheet" href="style.css">
        <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
        <link rel="icon" href="logo.jpg" type="image/png">

    </head>

    <style>
        body {
    background-color: #6499E9;
    font-family: outfit;
    
}

.nav {
    background-color: #9EDDFF;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
    padding: 10px;
    margin-top: 25px;
}

.nav1 {
    background-color: #6499E9;
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 14;
    border-radius: 10px;
    padding: 0 10px;
}
.nav1 a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.chooseYourLanguage {
    background-color: #9EDDFF;
    width: 80vh;
    height: 300px;
    border-radius: 50px;
    margin: auto;
    height: 50vh;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 10px;
    box-shadow: 0 0 12px;
}
   /* Heading */
.sub-heading {
    margin: 1px;
    text-shadow: 0 0 1px #6499E9;
    font-size: 20px;

}

.heading {
    margin-bottom: 0px;
    text-shadow: 0 0 2px #6499E9;
}

/* buttons */

.engButton {
    border: none;
    background-color: #6499E9;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    
    
}

.marButton {
    border: none;
    background-color: #6499E9;
    width:150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.marButton:hover, .engButton:hover  {
    box-shadow: 0 0 10px #6499E9;


}
    </style>
    <body>
        <div class="nav">
            <div class="nav1"><a href="home.html">Home</a></div>
        </div>
        <secttion>
            <div class="chooseYourLanguage">
                <h1 class="heading">⌛</h1>
                <h1 class="heading">Waiting For Approval!</h1><br>
                <p class="sub-heading">Your request has been in waiting list please wait!</p><br><br>

                <div class="buttonContainer">
                <!-- <a href="pass.html" target="_self"><button class="engButton" type="button" style="background-color: red;">Cancel</button></a> -->
                </div>

            </div>
        </secttion>
    </body>
</html>